**Food Delivery App Data Analysis**
<br>Zomato is one of the most used food ordering platforms. 
<br>This project aims on cleaning the dataset, analyze the given dataset, and mining informational quality insights.

In [1]:
import pandas as pd
import numpy as np

In [2]:
hotels = pd.read_csv('zomato.csv')

In [4]:
hotels.head(10)

,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
5,"37, 5-1, 4th Floor, Bosco Court, Gandhi Bazaar...",Timepass Dinner,Yes,No,3.8/5,286,+91 9980040002\r\n+91 9980063005,Basavanagudi,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600,Buffet
6,"19/1, New Timberyard Layout, Beside Satellite ...",Rosewood International Hotel - Bar & Restaurant,No,No,3.6/5,8,+91 9731716688\r\n080 26740366,Mysore Road,Casual Dining,NaN,"North Indian, South Indian, Andhra, Chinese",800,Buffet
7,"2469, 3rd Floor, 24th Cross, Opposite BDA Comp...",Onesta,Yes,Yes,4.6/5,2556,080 48653961\r\n080 48655715,Banashankari,"Casual Dining, Cafe","Farmhouse Pizza, Chocolate Banana, Virgin Moji...","Pizza, Cafe, Italian",600,Cafes
8,"1, 30th Main Road, 3rd Stage, Banashankari, Ba...",Penthouse Cafe,Yes,No,4.0/5,324,+91 8884135549\r\n+91 9449449316,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,NaN
9,things tend to get smokey due to the sizzlers...,service was sluggish as they took too long to...,('Rated 4.0','RATED\n Amazing cafe,\nTop floor,no outdoor seating.\nFood is delicious,though the quantity is okayish.\nI ordered 6 ...,a nice place to give a try.'),('Rated 1.0','RATED\n Located opposite to wildcraft store...,we had nachos cheese salsa which was okay. We...,it turned out worse than the garlic bread. Th...,parking facility I could not locate. Staff ca...

In [5]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56252 entries, 0 to 56251
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   address                      56235 non-null  object
 1   name                         56236 non-null  object
 2   online_order                 56233 non-null  object
 3   book_table                   56194 non-null  object
 4   rate                         48414 non-null  object
 5   votes                        56174 non-null  object
 6   phone                        54956 non-null  object
 7   location                     56126 non-null  object
 8   rest_type                    55914 non-null  object
 9   dish_liked                   28027 non-null  object
 10  cuisines                     56049 non-null  object
 11  approx_cost(for two people)  55731 non-null  object
 12  listed_in(type)              51642 non-null  object
dtypes: object(13)
memory usage: 5.6+ MB

In [6]:
# Remove unwanted columns
hotels = hotels.drop(['address', 'phone'], axis=1)

In [7]:
hotels.head()

,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),listed_in(type)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

In [9]:
# Rename columns
hotels = hotels.rename(columns={
                        'rate': 'rating',
                        'approx_cost(for two people)': 'approx_cost',
                        'listed_in(type)': 'type'})
hotels.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

In [13]:
hotels.dtypes

name            object
online_order    object
book_table      object
rating          object
votes           object
location        object
rest_type       object
dish_liked      object
cuisines        object
approx_cost     object
type            object
dtype: object

In [16]:
 #deleting null values of name column
hotels = hotels.dropna(subset=['name'])

In [17]:
 #handling null values of book_table
hotels['book_table'] = hotels['book_table'].fillna(value = 'NA')

In [18]:
 #handling null values of rating
hotels['rating'] = hotels['rating'].fillna(value = 0)

In [19]:
#handling null values of votes
hotels['votes'] = hotels['votes'].fillna(value = 0)

In [20]:
#handling null values of location
hotels['location'] = hotels['location'].fillna(value = 'NA')

In [21]:
#handling null values of rest_type
hotels['rest_type'] = hotels['rest_type'].fillna(value = 'NA')

In [22]:
#handling null values of dishliked
hotels['dish_liked'] = hotels['dish_liked'].fillna(value = 'NA')

In [23]:
#handling null values of cuisines
hotels['cuisines'] = hotels['cuisines'].fillna(value = 'NA')

In [24]:
#handling null values of approxcost
hotels['approx_cost'] = hotels['approx_cost'].fillna(value = 0)

In [25]:
#handling null values of type
hotels['type'] = hotels['type'].fillna(value = 'NA')

In [26]:
#handling null values of online_order
hotels['online_order'] = hotels['online_order'].fillna(value = 'NA')

In [28]:
hotels.isnull().sum()

name            0
online_order    0
book_table      0
rating          0
votes           0
location        0
rest_type       0
dish_liked      0
cuisines        0
approx_cost     0
type            0
dtype: int64

In [38]:
#droping the duplicates value keeping the first
hotels = hotels.drop_duplicates()
hotels.head()

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet

In [39]:
#removing irrelevant text from all the columns
for col in hotels.columns:
    hotels = hotels[hotels[col].str.match(r'^.*?(RATED|Rated).*$')==False]

In [40]:
hotels.head(10)

,name,online_order,book_table,rating,votes,location,rest_type,dish_liked,cuisines,approx_cost,type
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,Buffet
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,Buffet
5,Timepass Dinner,Yes,No,3.8/5,286,Basavanagudi,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600,Buffet
6,Rosewood International Hotel - Bar & Restaurant,No,No,3.6/5,8,Mysore Road,Casual Dining,NA,"North Indian, South Indian, Andhra, Chinese",800,Buffet
7,Onesta,Yes,Yes,4.6/5,2556,Banashankari,"Casual Dining, Cafe","Farmhouse Pizza, Chocolate Banana, Virgin Moji...","Pizza, Cafe, Italian",600,Cafes
8,Penthouse Cafe,Yes,No,4.0/5,324,Banashankari,Cafe,"Pizza, Mocktails, Coffee, Nachos, Salad, Pasta...","Cafe, Italian, Continental",700,NA
10,Smacznego,Yes,No,4.2/5,504,Banashankari,Cafe,"Waffles, Pasta, Coleslaw Sandwich, Choco Waffl...","Cafe, Mexican, Italian, Momos, Beverages",550,Cafes

In [44]:
hotels.shape

(30340, 11)

In [46]:
# Check for unique values in each column and handle the irrelevant values
hotels = hotels[hotels['online_order'].str.match(r'^(No|Yes)$')==True]
hotels['rating'] = hotels['rating'].str.replace('/5', '')
def replace_rating(rating):
    if rating == 'NEW' or rating == '-':
        return 0
    else:
        return rating
hotels['rating'] = hotels['rating'].apply(replace_rating)

In [48]:
hotels['rating'].head(10)

0     4.1
1     4.1
2     3.8
3     3.7
4     3.8
5     3.8
6     3.6
7     4.6
8     4.0
10    4.2
Name: rating, dtype: object

In [50]:
# Remove the unknown character from the column 'name'
hotels['name'] = hotels['name'].str.replace('[Ãx][^A-Za-z]+','',regex=True)

In [51]:
hotels['name'].head(20)

0                                               Jalsa
1                                      Spice Elephant
2                                     San Churro Cafe
3                               Addhuri Udupi Bhojana
4                                       Grand Village
5                                     Timepass Dinner
6     Rosewood International Hotel - Bar & Restaurant
7                                              Onesta
8                                      Penthouse Cafe
10                                          Smacznego
11                                  CafDown The Alley
12                                       Cafe Shuffle
13                                   The Coffee Shack
14                                         Caf-Eleven
15                                    San Churro Cafe
16                                      Cafe Vivacity
17                                       Catch-up-ino
18                                   Kirthi's Biryani
19                                           T3H Cafe
20                      360 Atoms Restaurant And Cafe
Name: name, dtype: object

In [52]:
# Export dataframe to "zomatocleaned.csv"
hotels.to_csv('zomatocleaned.csv')